<p>
    This blog system is my assignment for AWT class in my uni. 
    <br>
    It's a single page application with CRUD operations. 
    <br>
    <br>
    Anyone can create new posts on any theme without the need for registration.
    The "google sign in" button is there merely for simplifying writers lives - it autocompletes your google account name on creation of new articles.
    <br>
    <br>
    You are always welcome to contribute, but please <em>be civil.</em>
</p>

<h2 class="mt-4">Contacts:</h2>
<p>
    <a href="mailto:maksym.surovtsev@student.tuke.sk"
    class="hover:underline pl-4">
      maksym.surovtsev@student.tuke.sk
    </a>
</p>
