<p>
    This blog is my assignment for AWT class in my uni. 
    It's purpose is to help my peers with creating their own blogs for this subject.
    Here will be posted guides on useful topics and tools in web design. 
    <br>
    <br>
    Everything is presented in a simple language and the useless info is trimmed down, so you can get what you need <em>fast</em>. 
</p>

<h2>Contacts:</h2>
<p>
    <a href="mailto:maksym.surovtsev@student.tuke.sk">maksym.surovtsev@student.tuke.sk</a>
</p>
