<div class="flex flex-col gap-4">
  <nav class="flex gap-1 items-center">
    <a href="#{{backHref}}" class="mr-auto font-semibold hover:underline">
      &lt;&lt; Back
    </a>

    <a href="#edit/{{id}}" class="bg-orange-500 hover:bg-orange-600 font-medium rounded-md px-3 py-1">
      Edit
    </a>

    <button onclick="deleteArticle()" class="bg-red-500 hover:bg-red-600 font-medium py-1 px-3 rounded-md">
      Delete
    </button>
  </nav>

  <article class="flex flex-col gap-4">
    <h1 class="font-bold text-3xl">
      {{title}}
    </h1>

    <p class="text-neutral-600">
      Published {{published}} by {{author}}
    </p>

    <p>
      {{content}}
    </p>
  </article>

  <div class="flex flex-col gap-2 max-w-sm">
    <input id="username" placeholder="Your name" value="{{username}}" class="rounded-md px-3 py-1 outline-none focus:bg-stone-300 bg-neutral-300">
    <textarea id="comment-content" placeholder="Add a comment..." class="rounded-md px-3 py-1 bg-neutral-300 focus:bg-stone-300 outline-none resize-none"></textarea>
    <button onclick="postComment()" class="font-medium bg-orange-400 hover:bg-orange-500 rounded-md w-fit py-1 px-3">
      Post
    </button>
  </div>

  <p class="font-medium width-fit">&darr;Scroll to load comments&darr;</p>
  <div id="comments-root" class="flex flex-col gap-2"></div>
</div>
