<a href="#{{backHref}}" 
class="font-medium hover:underline">
  &lt; Back
</a>

<div class="flex flex-col gap-4 text-slate-900">
  <input id="author" placeholder="Author" type="text" required {{#articleExists}} disabled value="{{author}}" {{/articleExists}}
  class="text-slate-900">
  
  <input id="title" placeholder="Title" type="text" required {{#articleExists}} disabled value="{{title}}" {{/articleExists}}>

  <textarea id="content" required rows=10>
    {{#articleExists}}
      {{content}}
    {{/articleExists}}
  </textarea>

  <button 
  class="bg-green-500"">
    Submit
  </button>
</div>
