<div id="g_id_onload"
     data-client_id="1069021373752-l3sh95pbbi4cbagod7thbk924hu85oth.apps.googleusercontent.com"
     data-callback="handleLogIn"
     data-context="signin"
     data-ux_mode="popup"
     data-auto_prompt="false">
</div>
<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin"
     data-size="large"
     data-locale="en"
     data-logo_alignment="left">
</div>
