<div class="flex mb-4">
  {{#prevPage}}
    <a href="#search/{{prevPage}}"
    class="shadow-2xl bg-green-600 px-3 py-1 rounded">
      &lt; Prev
    </a>

  {{/prevPage}}

  {{#nextPage}}
    <a href="#search/{{nextPage}}"
    class="ml-auto shadow-md bg-green-600 px-3 py-1 rounded">
      Next &gt; 
    </a>
  {{/nextPage}}
</div>

<ul class="flex flex-col gap-4 p-1"> 
  {{#articles}}
    <li class="rounded-xl flex flex-col p-8 bg-neutral-600 shadow-2xl">
      <a href="#article/{{id}}"
      class="truncate border-l-4 border-green-600 text-green-600">
        {{title}}
      </a> 
      {{author}}
      {{lastUpdated}}
    </li>
  {{/articles}}
</ul>
